[submodule "tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk"]
	path = tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk
	url = git@github.com:codestothestars/USB_Host_Shield_2.0
[submodule "tmk_core/protocol/lufa/lufa-abcminiuser"]
	path = tmk_core/protocol/lufa/lufa-abcminiuser
	url = https://github.com/abcminiuser/lufa.git
